<div class="card">

    <!--encabezado footer-->
    <div class="card-header bg-info">
        <h2 class="card-title text-center text-light">Encuentráme en...</h2>
    
        <!--cuerpo footer-->
        <div class="text-center">
        
            <a target="_blank" href="https://api.whatsapp.com/send?phone=573008540917&text=Hola,%20deseo%20pedir%20un%20domicilio">
                <img src="../assets/img/whatsapp.png" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 40px;" type="button">  
            </a>

            <a target="_blank" href="">
                <img src="../assets/img/gmail.png" class="m-3 img-fluid img-size" alt="Responsive image" style="width: 40px;" type="button">  
            </a>

            <!--fin footer-->
            <div class="text-center">
                © Copyright 2021 Cyndi Martínez. Todos los derechos reservados.

            </div>
        </div>
    </div>
</div>
