<nav class="navbar navbar-expand-md navbar-light bg-info sticky-top">

      <!--Menú navegable-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <a class="nav-link" href="/">Perfil</a>
          <a class="nav-link" href="/estudios">Estudios</a>
          <a class="nav-link" href="/habilidades">Habilidades</a>  
          <a class="nav-link" href="/contactame">Contáctame</a>
          
        </div>
      </div>

  </nav>

